Repository josayko/ft_transcendence, pull requests merged in 2022-04, with the labels that each got.

#37 Josayko
  .env
  backend/package-lock.json
  backend/package.json
  backend/src/api/users/users.controller.ts
  backend/src/api/users/users.service.ts
  backend/src/app.module.ts
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.interface.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/guards/index.ts
  backend/src/auth/strategies/jwt.strategy.ts
  backend/src/gateway/chat.gateway.ts
  backend/src/main.ts
Labels: enhancement, backend

#38 Channel muted and banedusers, blocked users by user, isProtected boolean
  backend/mockSetup.sh
  backend/src/api/api.module.ts
  backend/src/api/channels/channels.controller.ts
  backend/src/api/channels/channels.module.ts
  backend/src/api/channels/channels.service.ts
  backend/src/api/channels/dto/create-channel.dto.ts
  backend/src/api/channels/dto/filter-channel.dto.ts
  backend/src/api/channels/dto/update-channel.dto.ts
  backend/src/api/channels/entities/channel.entity.ts
  backend/src/api/messages/messages.service.ts
  backend/src/api/users/dto/ban-user.dto.ts
  backend/src/api/users/dto/filter-user.dto.ts
  backend/src/api/users/dto/mute-user.dto.ts
  backend/src/api/users/dto/update-user.dto.ts
  backend/src/api/users/entities/baned.user.entity.ts
  backend/src/api/users/entities/muted.user.entity.ts
  backend/src/api/users/entities/user.entity.ts
  backend/src/api/users/users.controller.ts
  backend/src/api/users/users.module.ts
  backend/src/api/users/users.service.ts
  requests.rest
Labels: enhancement, API, fix

#40 Dockerization
  .env
  backend/src/app.module.ts
  backend/src/auth/auth.module.ts
  backend/src/main.ts
  docker-compose.yml
  frontend/Dockerfile
  frontend/vite.config.ts
Labels: fix, devOps

#39 Status System
  backend/src/api/users/users.service.ts
  backend/src/app.module.ts
  backend/src/main.ts
  backend/src/status/status.gateway.spec.ts
  backend/src/status/status.gateway.ts
  backend/src/status/status.module.ts
  frontend/src/App.vue
  frontend/src/components/StatusSystem.vue
  frontend/src/stores/status.ts
  frontend/src/stores/user.ts
Labels: bug, enhancement, backend, frontend

#43 Fixed socket problem and chat cookie parsing
  backend/src/api/channels/channels.service.ts
  backend/src/api/channels/dto/create-channel.dto.ts
  backend/src/api/channels/dto/filter-channel.dto.ts
  backend/src/api/channels/dto/update-channel.dto.ts
  backend/src/api/channels/entities/channel.entity.ts
  backend/src/auth/auth.module.ts
  backend/src/gateway/chat.gateway.ts
  backend/src/status/status.gateway.ts
  frontend/src/components/Chat.vue
  frontend/src/components/ChatMenu.vue
  frontend/src/components/ChatUsers.vue
  frontend/src/components/ModalChat.vue
  frontend/src/components/StatusSystem.vue
  frontend/src/components/UserCard.vue
  frontend/src/models/channel.model.ts
  frontend/src/stores/channel.ts
  frontend/src/stores/message.ts
Labels: backend, frontend, fix

#46 Fixes: muteUsers and banUsers, plus removeBlockedUsers
  backend/src/api/channels/channels.service.ts
  backend/src/api/users/entities/baned.user.entity.ts
  backend/src/api/users/entities/muted.user.entity.ts
  backend/src/api/users/users.controller.ts
  backend/src/api/users/users.service.ts
  requests.rest
Labels: API, fix

#45 Two factor auth
  .env
  backend/package-lock.json
  backend/package.json
  backend/src/api/users/dto/filter-user.dto.ts
  backend/src/api/users/dto/update-user.dto.ts
  backend/src/api/users/entities/user.entity.ts
  backend/src/api/users/users.controller.ts
  backend/src/api/users/users.service.ts
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.interface.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/dto/twoFactorAuthenticationCode.dto.ts
  backend/src/auth/guards/index.ts
  backend/src/auth/strategies/jwt.strategy.ts
  frontend/src/App.vue
  frontend/src/components/Authenticate2fa.vue
  frontend/src/components/Login.vue
  frontend/src/components/Setting.vue
  frontend/src/models/user.model.ts
  frontend/src/router/index.ts
  frontend/src/stores/user.ts
Labels: enhancement, backend, frontend

#49 [Draft] Game websocket implementation
  .DS_Store
  Makefile
  backend/mockSetup.sh
  backend/src/api/matches/matches.module.ts
  backend/src/app.module.ts
  backend/src/game/game.gateway.spec.ts
  backend/src/game/game.gateway.ts
  backend/src/game/game.module.ts
  backend/src/game/game.service.spec.ts
  backend/src/game/game.service.ts
  backend/src/gateway/status.gateway.spec.ts
  backend/src/gateway/status.gateway.ts
  backend/src/main.ts
  backend/src/status/status.gateway.ts
  docker-compose.yml
  frontend/src/components/Feature.vue
  frontend/src/components/Game.vue
  frontend/src/components/Matchmaking.vue
  frontend/src/components/ModaleSettings.vue
  frontend/src/components/Pong.vue
  frontend/src/components/PowerUps.vue
  frontend/src/components/Repair.vue
  frontend/src/components/debug/UserDebug.vue
  frontend/src/components/save.vue
  frontend/src/components/sounds/hit.wav
  frontend/src/components/sounds/loose.wav
  frontend/src/components/sounds/score.wav
  frontend/src/components/sounds/wall.wav
  frontend/src/components/sounds/win.wav
  frontend/src/router/index.ts
  frontend/src/stores/status.ts
  frontend/src/stores/user.ts
  frontend/vite.config.ts
  requests.rest
Labels: backend, frontend
