Repository josayko/ft_transcendence, pull requests merged in 2022-05, with the labels that each got.

#52 Game now implemented in the backend
  backend/src/game/game.class.ts
  backend/src/game/game.gateway.ts
  backend/src/game/game.module.ts
  backend/src/game/game.service.ts
  backend/src/gateway/status.gateway.spec.ts
  backend/src/gateway/status.gateway.ts
  backend/src/status/status.class.ts
  backend/src/status/status.gateway.ts
  frontend/src/components/Navbar.vue
  frontend/src/components/Pong.vue
  frontend/src/components/Repair.vue
  frontend/src/components/StatusSystem.vue
  frontend/src/components/Toto.vue
  frontend/src/components/game/Feature.vue
  frontend/src/components/game/Game.vue
  frontend/src/components/game/Matchmaking.vue
  frontend/src/components/game/ModaleSettings.vue
  frontend/src/components/game/Pong.vue
  frontend/src/components/game/PowerUps.vue
  frontend/src/components/save.vue
  frontend/src/router/index.ts
Labels: enhancement, backend, frontend, fix

#53 Match history
  frontend/src/components/profile/Ladder.vue
  frontend/src/components/profile/MatchHistory.vue
  frontend/src/components/profile/Stats.vue
  frontend/src/router/index.ts
  frontend/vite.config.ts
Labels: bug, enhancement

#64 Live games and spectate mode
  backend/src/api/matches/matches.module.ts
  backend/src/api/matches/matches.service.ts
  backend/src/game/game.class.ts
  backend/src/game/game.gateway.ts
  backend/src/game/game.service.ts
  backend/src/gateway/chat.gateway.ts
  frontend/src/App.vue
  frontend/src/components/Home.vue
  frontend/src/components/Navbar.vue
  frontend/src/components/debug/UserDebug.vue
  frontend/src/components/game/GameSystem.vue
  frontend/src/components/game/LiveGames.vue
  frontend/src/components/game/Pong.vue
  frontend/src/components/game/Queue.vue
  frontend/src/router/index.ts
  frontend/src/stores/user.ts
  package-lock.json
Labels: enhancement, frontend, fix

#65 Merge matchmaking button with navbar button
  backend/src/game/game.gateway.ts
  frontend/src/components/Home.vue
  frontend/src/components/Navbar.vue
  frontend/src/components/UserActions.vue
  frontend/src/components/UserList.vue
  frontend/src/components/UsersFriends.vue
  frontend/src/components/game/Queue.vue
Labels: frontend

#73 Updated user list, game button, game invites, player status
  backend/src/game/game.gateway.ts
  backend/src/game/game.service.ts
  backend/src/gateway/chat.gateway.ts
  backend/src/status/status.gateway.ts
  frontend/src/components/BtnUserList.vue
  frontend/src/components/Home.vue
  frontend/src/components/Navbar.vue
  frontend/src/components/StatusSystem.vue
  frontend/src/components/UserCard.vue
  frontend/src/components/UserList.vue
  frontend/src/components/chat/ChatUsers.vue
  frontend/src/components/game/LiveGames.vue
  frontend/src/components/game/Matchmaking.vue
  frontend/src/components/game/Pong.vue
  frontend/src/components/game/Queue.vue
  frontend/src/components/profile/Ladder.vue
  frontend/src/stores/user.ts
Labels: enhancement, backend, frontend

#79 Fixed socket problems not firing up, and added a user wide session logout
  backend/src/game/game.gateway.ts
  backend/src/gateway/chat.gateway.ts
  backend/src/status/status.gateway.ts
  frontend/src/components/Navbar.vue
  frontend/src/components/Profil.vue
  frontend/src/components/StatusSystem.vue
  frontend/src/components/UserCard.vue
  frontend/src/components/UserList.vue
  frontend/src/components/chat/ChatSocket.vue
  frontend/src/components/game/GameSystem.vue
  frontend/src/components/game/LiveGames.vue
  frontend/src/components/game/Pong.vue
  frontend/src/components/game/Queue.vue
  frontend/src/components/game/options/Feature.vue
  frontend/src/components/game/options/GameOptionModal.vue
  frontend/src/components/profile/Ladder.vue
  frontend/src/stores/game.ts
  frontend/src/stores/user.ts
Labels: backend, frontend, fix

#77 FRONT Update || DO NOT MERGE IN PROGRESS
  frontend/src/components/Navbar.vue
  frontend/src/components/UserList.vue
  frontend/src/components/chat/Chat.vue
  frontend/src/components/game/LiveGames.vue
  frontend/src/components/profile/Ladder.vue
  frontend/src/components/profile/MatchHistory.vue
Labels: frontend
