Repository josayko/ft_transcendence, pull requests merged in 2022-03, with the labels that each got.

#12 Api Improvement
  backend/package-lock.json
  backend/package.json
  backend/src/api/channels/channels.controller.spec.ts
  backend/src/api/channels/channels.controller.ts
  backend/src/api/channels/channels.module.ts
  backend/src/api/channels/channels.service.spec.ts
  backend/src/api/channels/channels.service.ts
  backend/src/api/channels/dto/create-channel.dto.ts
  backend/src/api/channels/entities/channel.entity.ts
  backend/src/api/matches/matches.controller.ts
  backend/src/api/matches/matches.module.ts
  backend/src/api/matches/matches.service.ts
  backend/src/api/messages/dto/create-message.dto.ts
  backend/src/api/messages/dto/filter-message.dto.ts
  backend/src/api/messages/entities/message.entity.ts
  backend/src/api/messages/messages.controller.spec.ts
  backend/src/api/messages/messages.controller.ts
  backend/src/api/messages/messages.module.ts
  backend/src/api/messages/messages.service.spec.ts
  backend/src/api/messages/messages.service.ts
  backend/src/api/stats/entities/stats.entity.ts
  backend/src/api/stats/stats.controller.ts
  backend/src/api/stats/stats.module.ts
  backend/src/api/stats/stats.service.ts
  backend/src/api/users/dto/create-user.dto.ts
  backend/src/api/users/dto/filter-user.dto.ts
  backend/src/api/users/entities/user.entity.ts
  backend/src/api/users/users.controller.ts
  backend/src/api/users/users.module.ts
  backend/src/api/users/users.service.ts
  backend/src/app.module.ts
  backend/src/database/database.module.ts
  backend/src/main.ts
  backend/src/utils.provider.ts
  docker-compose.yml
  package-lock.json
  requests.rest
Labels: enhancement, API

#13 Josayko
  frontend/db.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Debug.vue
  frontend/src/components/debug/Debug.vue
  frontend/src/components/debug/MatchDebug.vue
  frontend/src/components/debug/UserDebug.vue
  frontend/src/main.ts
  frontend/src/models/match.model.ts
  frontend/src/models/user.model.ts
  frontend/src/requests/matchRequests.ts
  frontend/src/requests/userRequests.ts
  frontend/src/router/index.ts
  frontend/src/services/requests.ts
  frontend/src/stores/input.ts
  frontend/src/stores/match.ts
  frontend/src/stores/user.ts
Labels: enhancement, frontend

#17 Redid Channel entity and it's relations
  backend/src/api/channels/channels.controller.ts
  backend/src/api/channels/channels.service.ts
  backend/src/api/channels/dto/create-channel.dto.ts
  backend/src/api/channels/entities/channel.entity.ts
  backend/src/api/matches/dto/update-match.dto.ts
  backend/src/api/matches/matches.service.ts
  backend/src/api/messages/dto/create-message.dto.ts
  backend/src/api/messages/dto/filter-message.dto.ts
  backend/src/api/messages/entities/message.entity.ts
  backend/src/api/messages/messages.service.ts
  backend/src/api/users/entities/user.entity.ts
  backend/src/api/users/users.service.ts
  requests.rest
Labels: enhancement, API

#18 Josayko
  backend/.env.development
  backend/.env.production
  backend/package-lock.json
  backend/package.json
  backend/src/api/users/entities/user.entity.ts
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.interface.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/guards/index.ts
  backend/src/auth/strategies/github.strategy.ts
  backend/src/main.ts
  backend/src/utils/types.ts
  frontend/src/App.vue
  frontend/src/components/Game.vue
  frontend/src/components/Home.vue
  frontend/src/components/Login.vue
  frontend/src/components/Navbar.vue
  frontend/src/models/user.model.ts
  frontend/src/router/index.ts
  frontend/src/stores/user.ts
Labels: enhancement, backend, frontend

#19 Small fixes and code rework on Channel / Message entities, Matches / User entities and Stats entity
  backend/.env.development
  backend/src/api/channels/channels.controller.ts
  backend/src/api/channels/channels.module.ts
  backend/src/api/channels/channels.service.ts
  backend/src/api/channels/entities/channel.entity.ts
  backend/src/api/matches/entities/matches.entity.ts
  backend/src/api/messages/dto/filter-message.dto.ts
  backend/src/api/messages/entities/message.entity.ts
  backend/src/api/messages/messages.controller.ts
  backend/src/api/messages/messages.service.ts
  backend/src/api/stats/dto/create-stats.dto.ts
  backend/src/api/stats/dto/update-stats.dto.ts
  backend/src/api/stats/entities/stats.entity.ts
  backend/src/api/stats/stats.controller.ts
  backend/src/api/stats/stats.service.ts
  backend/src/api/users/entities/user.entity.ts
  backend/src/api/users/users.controller.ts
  backend/src/api/users/users.module.ts
  backend/src/api/users/users.service.ts
  requests.rest
Labels: enhancement, API, fix

#22 Josayko
  Makefile
  backend/src/api/users/dto/create-user.dto.ts
  backend/src/auth/auth.controller.ts
  backend/src/main.ts
  frontend/src/components/debug/UserDebug.vue
  requests.rest
Labels: bug, fix

#23 Added failsafes to avoid 500 Internal Server Error
  backend/package-lock.json
  backend/package.json
  backend/src/api/channels/channels.service.ts
  backend/src/api/matches/dto/update-match.dto.ts
  backend/src/api/matches/matches.controller.ts
  backend/src/api/matches/matches.service.ts
  backend/src/api/messages/dto/update-message.dto.ts
  backend/src/api/messages/entities/message.entity.ts
  backend/src/api/messages/messages.controller.ts
  backend/src/api/messages/messages.module.ts
  backend/src/api/messages/messages.service.ts
  backend/src/api/stats/dto/create-stats.dto.ts
  backend/src/api/stats/dto/update-stats.dto.ts
  backend/src/api/stats/stats.controller.ts
  backend/src/api/stats/stats.service.ts
  backend/src/api/users/users.controller.ts
  backend/src/api/users/users.service.ts
  backend/src/main.ts
  docker-compose.yml
  requests.rest
Labels: API, fix

#26 Updating dev branch with api branch
  backend/src/api/api.module.ts
  backend/src/api/channels/channels.controller.ts
  backend/src/api/channels/channels.service.ts
  backend/src/api/channels/dto/create-channel.dto.ts
  backend/src/api/channels/dto/update-channel.dto.ts
  backend/src/api/matches/dto/filter-match.dto.ts
  backend/src/api/matches/dto/update-match.dto.ts
  backend/src/api/matches/matches.controller.ts
  backend/src/api/matches/matches.service.ts
  backend/src/api/messages/messages.service.ts
  backend/src/api/users/dto/create-user.dto.ts
  backend/src/api/users/users.controller.ts
  backend/src/api/users/users.service.ts
  backend/src/app.module.ts
  requests.rest
Labels: enhancement, API

#29 Added invites field in Channel, corresponding relation in User, and corresponding routes. (+ UploadModule)
  Makefile
  backend/.gitignore
  backend/assets/avatars/.gitkeep
  backend/environment.d.ts
  backend/package-lock.json
  backend/package.json
  backend/src/api/channels/channels.controller.ts
  backend/src/api/channels/channels.service.ts
  backend/src/api/channels/dto/create-channel.dto.ts
  backend/src/api/channels/dto/update-channel.dto.ts
  backend/src/api/channels/entities/channel.entity.ts
  backend/src/api/matches/matches.service.ts
  backend/src/api/users/entities/user.entity.ts
  backend/src/api/users/users.controller.ts
  backend/src/api/users/users.service.ts
  backend/src/app.module.ts
  backend/src/auth/auth.controller.ts
  backend/src/main.ts
  backend/src/upload/upload.controller.spec.ts
  backend/src/upload/upload.controller.ts
  backend/src/upload/upload.module.ts
  backend/src/upload/upload.spec.ts
  backend/tsconfig.json
  frontend/src/components/debug/Debug.vue
  frontend/src/components/debug/UploadDebug.vue
  frontend/vite.config.ts
  requests.rest
Labels: enhancement, backend, API

#30 Finished (for now) avatar upload
  backend/package-lock.json
  backend/src/upload/upload.controller.ts
  backend/src/upload/upload.module.ts
  frontend/src/components/debug/UploadDebug.vue
Labels: enhancement, API

#33 Removed some authentification comments
  backend/src/api/users/users.service.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/guards/index.ts
  backend/src/auth/strategies/ft.strategy.ts
  backend/src/auth/strategies/github.strategy.ts
Labels: documentation
